<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.count %></p>

<div class="row">
  <div class="col-xs-4 cos-sm-4">
    <h3>Top breweries</h3>
      <%= render 'list', tops: @top_breweries %>
  </div>
  <div class="col-xs-4 cos-sm-4">
    <h3>Top beers</h3>
      <%= render 'list', tops: @top_beers %>
  </div>
  <div class="col-xs-4 cos-sm-4">
    <h3>Top styles</h3>
      <%= render 'list', tops: @top_styles %>
  </div>
</div>

<h3>Most active users</h3>
  <%= render 'list', tops: @top_users %>

<h3>Recent ratings</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rating</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_ratings.each do |r| %>
      <tr>
        <td><%= r %></td>
        <td><%= link_to r.user.username, r.user %></td>
        <% if r.user == current_user %>
          <td><%= link_to 'Delete', r, method: :delete, data: { confirm: 'Are you sure?' }, class:"label label-danger" %>
          </td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--<h3>All ratings</h3>
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>
<%= link_to 'New rating', new_rating_path if current_user %>-->
