<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.count %></p>
<div class="row">
  <div class="col-xs-6 cos-sm-6">
    <h3>Top breweries</h3>
    <%= render 'list', tops: @top_breweries %>
  </div>
  <div class="col-xs-6 cos-sm-6">
    <h3>Top beers</h3>
    <%= render 'list', tops: @top_beers %>
  </div>
</div>
    <h3>Top users</h3>
    <%= render 'list', tops: @top_users %>
    <h3>Recent ratings</h3>
    <ul>
      <% @recent_ratings.each do |r| %>
        <li> <%= r %> <%= link_to r.user.username, r.user %></li>
      <% end %>
    </ul>
<!--<h3>All ratings</h3>
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>
<%= link_to 'New rating', new_rating_path if current_user %>-->
