<% if not @places %>
    <h1>Beer places search</h1>
<% end %>
<p id="notice"><%= notice %></p>
<%= form_tag places_path do %>
    City: <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search" %>
<% end %>
<% if @places %>
    <h3>Weather at location</h3>
    <img src="<%= @iconUrl %>"></img>
    <p><b>Temperature:</b> <%= @weather["temp_c"] %> &deg;C.</p>
    <p><b>Wind:</b> <%= @weather["wind_kph"] %> km/h, direction <%= @weather["wind_dir"] %></p>
    <table>
        <thead>
            <% Place.rendered_fields.each do |f| %>
                <td><b><%=f %></b></td>
            <% end %>
        </thead>
        <% @places.each do |place| %>
            <tr>
                <td><%= link_to place.name, place_path(place.id) %></td>
                <td><%= place.status %></td>
                <td><%= place.street %></td>
                <td><%= place.city %></td>
                <td><%= place.zip %></td>
                <td><%= place.country %></td>
                <td><%= place.overall %></td>  
            </tr>
        <% end %>
    </table>
<% end %>